* {
    font-family: monospace;
    color: white;
}

body {
    background-color: rgb(16, 16, 16);
}

/* Main */

button {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: rgb(69, 69, 69);
    border-width: 3px;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
button:hover {
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

.buttonBorder {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: rgb(69, 69, 69);
    border-width: 3px;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Text */
p {
    color: white;
    font-size: 20px;
}

li { /* List */
    color: rgb(255, 255, 255);
    font-size: 15px;
}

/* Extra */
a:link, a:visited {
    color: rgb(0, 127, 255);
}
a:hover {
    color: rgb(0, 192, 255);
}

/* Tooltip */
.tooltip {
    font-size: 20px;
    text-align: left;
    border-style: solid;
    border-color: rgb(69, 69, 69);
    padding: 5px 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    visibility: hidden;
    z-index: 4;
}

/* Other */
.noMargin {
    margin: 0px;
}
.textButton {
    text-align: left;
    border-width: 0px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
}
.textButton:hover {
    color: rgb(0, 127, 255);
    cursor: pointer;
}

/* sorry notsu i stole your changelog thing */
.changelog {
    width: 400px; height: 250px; position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: rgb(69, 69, 69);
    padding: 8px;
    z-index: 9;
}

.hide {
    display: none
}
